.class1{
	
	
}

.middle{
	padding-left:25%;
	padding-right:25%;
	font-family:verdana; 

}
.middle.title{
	font-size:36px; 
	font-weight:bold;
}

.text{
	font-family:verdana; 
}

#tab {
	list-style-type: none;
	overflow: hidden;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}
#tab li a {
	background-color: gray;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	width: 160px;
	height: 40px;
	float: left;
	display: block;
	text-align: middle;
}
#tab li a:hover {
	background-color: lightblue;
}